*{
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
    /* font-family: 'Inter', sans-serif; */
}

/* banner section styles */

.banner{
    background-image: url(../images/banner/banner3.png);
    background-size: contain;
    height: 465px;
    padding-top: 216px;
    padding-right: 170px;
    text-align: right;
}
.banner-title{
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
    margin-left: 650px;
}
.banner-description{
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 32px;
    margin-left: 680px;
}
.btn-primary{
    height: 64px;
    width: 160px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 25px 20px 26px;
    border: 0;
    border-radius: 5px;
    background-color: #FFFFFF;
}

/* main section */

main{
    max-width: 1140px;
}

/* my failure section styles */

.my-failure{
    display: flex;
    gap: 100px;
    align-items: center;
    padding: 130px 50px 130px 20px;
}
.section-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.my-failure .section-description{
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 26px;
    color: #444343;
}
li{
    list-style: none;
    margin-bottom: 8px;
    color: #444343;
}
.fa-check{
    color: #16D887;
    margin-right: 10px;
}
.my-failure-info{
    padding-top: 100px;
}

/* plan section styles */

.plan{
    text-align: center;
}
.plan-info-container{
    display: flex;
    gap: 86px;
    padding-top: 50px;
}
.info-title{
    font-weight: 700;
    font-size: 25px;
    color: #151414;
    padding-top: 24px;
    padding-bottom: 16px;
}
.info-description{
    font-weight: 500;
    font-size: 20px;
    color: #737272;
}

/* mindset section styles */
.mindset{
    margin: 130px 0;
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
}
.mindset-info{
    text-align: left;
    padding: 60px  65px ;
}
.mindset .section-title{
    margin-bottom: 27px;
    color: #FFFFFF;
}

/* future section styles */
.future{
    display: flex;
    gap: 280px;
    padding: 130px 110px;
    background-color: #151414;
}
.future .section-title{
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}
.future .section-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 24px;
}
.future .email{
    color: #FFFFFF;
    padding-bottom: 16px;
}
.future .phone{
    color: #FFFFFF;
    padding-bottom: 32px;
}
.future a{
    text-decoration: none;
    margin-right: 18px;
}
.subscribe .section-title{
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}
.subscribe input[type="email"]{
    font-size: 18px;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    padding: 21px 0 22px 24px;
    margin-top: 31px;
    margin-bottom: 16px;
    width: 325px;
    outline: 0;
}
.subscribe-btn{
    width: 170px;
    height: 64px;
    background-color:#005FAC;
    border-radius: 8px;
    padding: 18px 36px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}